body{
	background-color:gray;

}
#cabeçalho{
	display: grid;
	position: fixed;
	top:-10px;
	left:-2px; 
	width: 1500px;
	height: 80.7px;
	grid-template-columns: 50% 50%;
	z-index: 100;
	background-color: #1f2338;
}

.name h1{
	position: relative;
	left:20px;
	color: white;
	font-family:  'Lobster', cursive;
}
.elementosdeMenu {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	position: relative;
	
	font-family:  'Lobster', cursive;
	text-decoration: none;
	color:white;
}
.elementosdeMenu a{
	position: relative;
	text-decoration: none;
	color: white;
	top:50px;
	left:10px;

}

.fixo{
	position: fixed;
	z-index: 100;
	left: -5px;
	width: 1500px;
	height: 2px;
}
#SobreM{
	display: grid;
	width: 987px;
	height: 500px;
	grid-template-columns: 25% 75%;
	position: relative;
	top:25px;
}
#SobreMim {
	position: relative;
	left:15px;
	top:30px;
}
.imagem img{
	
	width: 400px;
	height: 400px;
	padding-left: 350px;
	border-radius: 50px 50px 50px 50px;
	 
	
}
.texto{
	padding-left: 100px;
}
#Preferencias{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 987px;
	height: 550px;
}
p{
	position: relative;
	left:20px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: black;


}
.texto2 p{
	position: relative;
	left:100px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: black;
}

#fotos{
	position: relative;
	top:-5px;
	display: grid;
	grid-template-rows: 85% 15% ;
}
#botoes{
	display:grid;
	grid-template-columns: 50% 50%;
}
.bt_ant{
	position: relative;
	left:70px;
	top:20px; 
	width: 70px;
	height: 70px; 
	border-radius: 50px 50px;
	background-color: #1f2338;
	color:white;
	font-size: 50px;

}
.bt_prox{
	position: relative;
	left:110px;
	top:20px; 
	width: 70px;
	height: 70px; 
	border-radius: 50px 50px;
	background-color: #1f2338;
	color:white;
	font-size: 50px;
}
 
#Contatos{
	display:grid;
	grid-template-columns: 33% 33% 33%;
	width: 987px;
	height: 300px;
	align-content: center;
}
 a img{
 	    position: relative;
   	    background-color: gray;
		width: 60px;
		height: 60px;
		left:150px;
		border-radius:160px;

}

#preencher{
	border-radius: 150px;
}
h2{
	position: relative;
	left: 15px;
}
 .logoEject{
	position:relative;
	padding-right: 498.5;
	text-align: center;
}
h3 a{
	text-decoration: none;
	color: black;

}